<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sto.springboot.mapper.UserMapper">

    <!--<resultMap id="myUserMap" type="com.sto.springboot.entity.User">

    </resultMap>-->

    <sql id="base_column">
        name,mail,status
    </sql>
    <sql id="all_column">
        id,name,mail,status
    </sql>
    <!--User selectUserById(int id);-->
    <select id="selectUserById" resultType="com.sto.springboot.entity.User">
        select
        <include refid="base_column"/>
        from user
        where
        id = #{id}
    </select>

    <insert id="insertUser">
        insert into
        user(name,mail,status)
        values(#{name},#{mail},#{status})
    </insert>


   <!-- List<User> findAll();-->
    <select id="findAll" resultType="com.sto.springboot.entity.User">
        select
        <include refid="all_column"/>
        from user
    </select>

    <!--List<User> findAllByPage();-->
    <select id="findAllByPage" resultType="com.sto.springboot.entity.User">
        select
        <include refid="all_column"/>
        from user limit #{beginIndex},#{pageSize}
    </select>

    <!--int selectTotalCount();-->
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select
        count(*)
        from user
    </select>

</mapper>